asgiref==3.8.1
colorama==0.4.6
Django==5.1.6
iniconfig==2.0.0
Jinja2==3.1.5
MarkupSafe==3.0.2
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
pytest==8.3.4
pytest-django==4.10.0
pytest-html==4.1.1
pytest-metadata==3.1.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
whitenoise==6.9.0
