{% extends 'bill_rate_system/base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <h3>Edit Project</h3>
</div>

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<form id="editprojectForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="firstname">Project Name:</label>
                                    <input type="text" id="firstname" name="firstname" class="form-control" value="{{ project.name }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-submit me-2">Submit</button>
                                <a href="{% url 'bill_rate_system:project_list' %}" class="btn btn-cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



{% endblock %}
